@use "@/styles/mixins" as m;

@include m.medium {
  .hideOnMobile {
    display: none;
  }
}

.thead tr th {
  padding-left: 20px;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  user-select: none;
}

@include m.very-small {
  .thead tr th {
    font-size: 1rem;
  }
}

.thead tr th:first-child {
  padding-left: 20px;
}

.thead tr th:last-child {
  padding-right: 20px;
}

@include m.very-small {
  .thead tr th:first-child {
    padding-left: 10px;
  }

  .thead tr th:last-child {
    padding-right: 10px;
    text-align: center;
  }
}