@use "@/styles/mixins" as m;

.otherProjects {
  list-style: none;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
  width: 100%;
}

@include m.small {
  .otherProjects {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}