@use "@/styles/mixins" as m;

.mobileMenu {
  @include m.center-x-y;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -102%;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100dvh;
  outline: 0;
  background-color: #112240;
  box-shadow: -10px 0 30px -15px rgba(2, 12, 27, .7);
  z-index: 9;
  visibility: visible;
  transition: right .25s var(--ease-main);

  &.active {
    right: 0;
  }
}

.mobileMenu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ccd6f6;
  font-family: var(--font-mono);
  text-align: center;
}

.mobileMenu nav ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: item 0;
}

.mobileMenu nav li {
  margin: 0 auto 20px;
  font-size: clamp(.875rem, 4vw, 1.125rem);
  counter-increment: item 1;
}

.mobileMenu nav li a {
  padding: 10px;
  width: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: color .25s var(--ease-main);

  &:hover {
    color: #64ffda;
  }
}

.mobileMenu nav li a::before {
  content: "0" counter(item) ".";
  color: #64ffda;
  font-size: .875rem;
  padding-right: 10px;
}

.mobileMenu .buttons {
  @include m.center-x-y;
  gap: 10px;
  width: 100%;
  margin-top: 10%;
}

@include m.very-small {
  .mobileMenu .buttons {
    flex-direction: column;
    width: fit-content;
    position: relative;
    right: 10px;
  }
}

.mobileMenu .buttons>:where(button, a) {
  -webkit-tap-highlight-color: transparent;
  color: #64ffda;
  max-width: 124px;
  min-width: 124px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  font-size: .875rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  padding-block: 14px;
  transition:
    color .25s var(--ease-main),
    background-color .25s var(--ease-main),
    box-shadow .25s var(--ease-main);

  &:hover {
    background-color: #64ffda;
    color: var(--website-bg);
    box-shadow: 0 4px 6px rgba(100, 255, 218, .2);
  }
}