@use "@/styles/mixins" as m;

.projectCard {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, .7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 32px 28px;
  border-radius: 4px;
  background-color: #112240;
  transition: translate .25s var(--ease-main);

  &:hover {
    translate: 0 -5px;
  }
}

@include m.very-small {
  .projectCard {
    padding: 25px 20px;
  }
}

.projectCard header .projectTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.projectCard header .projectTop>svg {
  stroke: #64ffda;
  width: 40px;
  height: 40px;
}

.projectCard header .projectTop .projectLinks {
  display: flex;
  align-items: center;
}

.projectCard header .projectTop .projectLinks>a {
  -webkit-tap-highlight-color: transparent;
  color: #a8b2d1;
  padding: 5px 7px;
  transition: outline-color .25s var(--ease-main);

  &:focus-visible {
    outline: 2px solid #64ffda;
    outline-offset: -1px;
  }
}

.projectCard header .projectTop .projectLinks>a svg {
  width: 20px;
  height: 20px;
  stroke: #a8b2d1;
  transition: stroke .25s var(--ease-main);
}

.projectCard header .projectTop .projectLinks>a:where(:hover, :focus-visible) svg {
  stroke: #64ffda;
}

.projectCard header .title {
  margin-bottom: 10px;
  color: #ccd6f6;
  font-size: 1.375rem;
  line-height: 1.1;
}

.projectCard header .title>a {
  transition: color .25s var(--ease-main);

  &:hover {
    color: #64ffda;
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #64ffda;
  }
}

.projectCard header .title>a .featured {
  all: initial;
  font-family: var(--font-mono);
  display: inline-block;
  color: #64ffda;
  font-weight: 400;
  font-size: .6rem;
  margin-left: 10px;
  border: 1px solid #64ffda;
  border-radius: 10px;
  padding: 4px 6px;
  position: relative;
  bottom: 2px;
  pointer-events: none;
}

.projectCard header .description {
  color: #a8b2d1;
  font: 1.0625rem;
}

.projectCard footer .techList {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  gap: 15px;
  flex-wrap: wrap;
}

.projectCard footer .techList li {
  font-family: var(--font-mono);
  font-size: .85rem;
  line-height: 1.75;
}