@use "@/styles/mixins" as m;

:root {
  --website-width: 1200px;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --ease-main: cubic-bezier(.645, .045, .355, 1);
}

@include m.large {
  :root {
    --website-width: 100%;
  }
}