@use "@/styles/mixins" as m;

@include m.medium {
  .hideOnMobile {
    display: none;
  }
}

.tbody tr:has(:focus-visible, :hover) {
  background-color: #112240;
}

.tbody tr td {
  padding: 10px;
  text-align: left;
}

.tbody tr td.year {
  padding-inline: 20px;
  color: #64ffda;
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 400;
}

@include m.small {
  .tbody tr td.year {
    font-size: .9rem;
  }
}

@include m.very-small {
  .tbody tr td.year {
    font-size: .8rem;
    padding-inline: 10px;
  }
}

.tbody tr td.title {
  padding-top: 15px;
  padding-right: 20px;
  color: #ccd6f6;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}

@include m.small {
  .tbody tr td.title {
    font-size: 1.1rem;
  }
}

@include m.very-small {
  .tbody tr td.title {
    font-size: .9rem;
  }
}

.tbody tr td.tech {
  font-size: .75rem;
  font-family: var(--font-mono);
  line-height: 1.5;
}

.tbody tr td.tech>span {
  display: inline-block;
}

.tbody tr td.tech>span .separator {
  display: inline-block;
  margin-inline: 5px;
}

.tbody tr td.links .wrapper {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@include m.very-small {
  .tbody tr td.links .wrapper {
    padding-inline: 10px;
  }
}

.tbody tr td.links .wrapper a {
  -webkit-tap-highlight-color: transparent;
  @include m.center-x-y;
  flex-shrink: 0;
  transition: outline-color .25s var(--ease-main);

  &:focus-visible {
    outline: 2px solid #64ffda;
    outline-offset: 5px;
  }
}

.tbody tr td.links .wrapper>a>svg {
  width: 20px;
  height: 20px;
  transition: stroke .25s var(--ease-main);
}

.tbody tr td.links .wrapper>a:where(:hover, :focus-visible)>svg {
  stroke: #64ffda;
}

@include m.very-small {
  .tbody tr td.links .wrapper>a>svg {
    width: 18px;
    height: 18px;
  }
}