.skipLink {
  border: none;
  outline: none;
  background-color: #64ffda;
  color: var(--website-bg);
  border-radius: 4px;
  font-size: .8125rem;
  font-family: var(--font-mono);
  line-height: 1;
  padding: 20px 28px;
  position: fixed;
  top: 0;
  left: -999px;
  z-index: -99;
  transition: left .25s var(--ease-main);

  &:focus {
    left: 0;
    z-index: 99;
  }
}