@use "@/styles/mixins" as m;

.contactSection {
  max-width: 540px;
  margin: 0 auto 90px;
  text-align: center;
}

@include m.medium {
  .contactSection {
    max-width: 420px;
  }
}

.contactSection>h2 {
  margin-bottom: 20px;
  color: #64ffda;
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 400;
}

.contactSection>h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
  font-size: clamp(2.5rem, 5vw, 3.75rem);
}

.contactSection .description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.3;
}

@include m.very-small {
  .contactSection .description {
    font-size: 1.1rem;
  }
}

.contactSection>a {
  -webkit-tap-highlight-color: transparent;
  font-size: .875rem;
  position: relative;
  color: #64ffda;
  font-family: var(--font-mono);
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  user-select: none;
  overflow: hidden;
  border: solid 1px #64ffda;
  border-image: initial;
  border-radius: 4px;
  margin: 40px auto 0;
  padding: 18px 26px;
  transition:
    color .25s var(--ease-main),
    box-shadow .25s var(--ease-main),
    background .25s var(--ease-main),
    outline-color .25s var(--ease-main);

  &:hover {
    color: var(--website-bg);
    box-shadow: rgba(100, 255, 218, .2) 0 5px 15px;
    background: #64ffda;
  }

  &:focus-visible {
    outline: solid 2px #fff;
    outline-offset: -1px;
  }
}

@include m.very-small {
  .contactSection>a {
    font-size: .8rem;
  }
}

.contactSection>a::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, .1),
      rgba(255, 255, 255, .3),
      rgba(255, 255, 255, .1));
  transition: opacity .5s ease-out, left .5s ease-out;
}

.contactSection>a:hover::before {
  opacity: 1;
  left: 100%;
}