@use "@/styles/mixins" as m;

.wrapper {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

@include m.medium {
  .wrapper {
    flex-direction: column;
  }
}

.techList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px 38px;
  list-style: none;
  width: fit-content;
  left: -8px;
}

@include m.small {
  .techList {
    gap: 1px 14px;
  }
}

@include m.very-small {
  .techList {
    grid-template-columns: auto;
    width: 100%;
  }
}

.techList li {
  width: fit-content;
  color: var(--main-text-color);
  font-family: var(--font-mono);
  font-size: .85rem;
  text-wrap: nowrap;
  padding: 10px 8px;
  border-radius: 3px;
  transition: color .1s ease;

  &:hover,
  &.active {
    color: #64ffda;
  }
}

@include m.small {
  .techList li {
    position: static;
  }
}

@include m.very-small {

  // JavaScript
  .techList li:nth-child(1) {
    order: 2;
  }

  // Sass
  .techList li:nth-child(2) {
    order: 6;
  }

  // React
  .techList li:nth-child(3) {
    order: 4;
  }

  // Next
  .techList li:nth-child(4) {
    order: 5;
  }

  // Progressive Web Apps
  .techList li:nth-child(5) {
    order: 1;
  }

  // Redux/Toolkit
  .techList li:nth-child(6) {
    order: 3;
  }
}

.infoBox {
  text-wrap: initial;
  min-width: 350px;
  max-width: 420px;
  min-height: 140px;
  color: #a8b2d1;
  text-wrap: pretty;
  background: #112240;
  border: 1px solid #75809e;
  border-radius: 8px;
  padding: 21px;
}

@include m.small {
  .infoBox {
    min-width: 340px;
  }
}

@include m.very-small {
  .infoBox {
    min-width: auto;
    max-width: auto;
    min-height: 100px;
    width: calc(100vw - 30px);
    padding: 15px;
  }
}

.infoBox>p {
  color: #ccd6f6;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
}

@include m.very-small {
  .infoBox>p {
    font-size: 1rem;
  }
}